<!--
@Author: nilanjan
@Date:   2018-11-11T06:11:03+05:30
@Email:  nilanjandaw@gmail.com
@Filename: invite.hbs
@Last modified by:   nilanjan
@Last modified time: 2018-11-11T06:40:34+05:30
@Copyright: Nilanjan Daw
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Slackito</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../stylesheets/signin.css" rel="stylesheet">
  </head>
  <body>
    <form class="form-signin" method="post" action="/users/join">
      <h1 class="h3 mb-3 font-weight-normal">Please Accept Your Invitation</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="email_id" name="email_id" class="form-control" value="{{email_id}}" readonly>
      <!-- <label for="inputEmail" class="sr-only">Workspace</label> -->
      <input type="email" id="workspace_id" name="workspace_id" class="form-control" value="{{workspace_id}}" readonly>
      <label for="username" class="sr-only">username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
